<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developed by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link href="static/assets/favicon.ico" rel="icon">

  <title>Aswathi Viswanathan</title>

  <link href="static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <!-- Header Section -->
  <header>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Works</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Works Section -->
  <div class="section-container">
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
            <h1 class="h2">02 : Works</h1>
            <p>I am a Computer Engineering student specializing in AI & ML. I have completed internships in AI/ML at InternPE and Python programming at CodSoft. As a team leader, I worked on Arduino and Raspberry Pi projects, including a cloth-folding machine and a depth and pressure measuring device. I am proficient in Python, Java, MySQL, and web technologies like HTML and CSS.</p>
          </div>
        </div>

        <div class="col-md-12">

          <div id="myCarousel" class="carousel slide projects-carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">

              <!-- Project 1 -->
              <div class="item active">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work.html" title="" class="black-image-project-hover">
                      <img src="static/assets/images/work01-hover.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>1/6</h4>
                      <h3>Arduino Project</h3>
                      <p>As the team leader, I led a group project that involved designing and building a cloth-folding machine using Arduino. This project required hands-on experience in hardware interfacing, programming, and problem-solving to automate the folding process, ultimately contributing to improving efficiency in industrial environments.</p>
                      <a href="./work.html" title="" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                  <!-- Project 2 -->
                  <div class="col-sm-4">
                    <a href="./work.html" title="" class="black-image-project-hover">
                      <img src="static/assets/images/work02-hover.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>2/6</h4>
                      <h3>Raspberry Pi Project</h3>
                      <p>In another group project, I worked with a team to build a device using Raspberry Pi to measure depth and pressure. This project gave me exposure to working with sensors, interfacing with hardware, and programming on the Raspberry Pi platform. It also helped me understand how to integrate software and hardware to develop functional prototypes.</p>
                      <a href="./work.html" title="" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                  <!-- Project 3 -->
                  <div class="col-sm-4">
                    <a href="./work.html" title="" class="black-image-project-hover">
                      <img src="static/assets/images/work03-hover.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg">
                      <h4>3/6</h4>
                      <h3>AI & ML Internship</h3>
                      <p>At InternPE, I gained hands-on experience in machine learning algorithms, data analysis, and model development. I worked on several projects, including applying machine learning models to solve real-world problems and improving the efficiency of algorithms.</p>
                      <a href="./work.html" title="" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Project 4 -->
              <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="static/assets/images/work04-hover.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>4/6</h4>
                      <h3>Python Programming Internship</h3>
                      <p>During my internship at CodSoft, I worked with Python to build efficient software solutions. I enhanced my skills in Python programming by working on projects that involved backend development, scripting, and automating tasks.</p>
                      <a href="./work.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                  <!-- Project 5 -->
                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="static/assets/images/work05-hover.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>5/6</h4>
                      <h3>Python Developer Course</h3>
                      <p>This course helped me gain a strong foundation in Python, focusing on real-world applications and problem-solving techniques.</p>
                      <a href="./work.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>

                  <!-- Project 6 -->
                  <div class="col-sm-4">
                    <a href="./work.html" class="black-image-project-hover">
                      <img src="static/assets/images/work06-hover.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>6/6</h4>
                      <h3>AI & ML Course</h3>
                      <p>This certification provided me with in-depth knowledge of artificial intelligence and machine learning concepts, preparing me for professional challenges in AI/ML.</p>
                      <a href="./work.html" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                </div>
              </div>



            </div>
            <!-- /carousel-inner -->

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
          <!-- /myCarousel -->

        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script type="text/javascript" src="static/main.70a66962.js"></script>
</body>

</html>
